@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Roboto Flex';
  src: url('/fonts/RobotoFlex-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source Code Pro';
  src: url('/fonts/SourceCodePro-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tomorrow';
  src: url('/fonts/Tomorrow-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-primary: 'Roboto Flex', system-ui, sans-serif;
  --font-mono: 'Source Code Pro', ui-monospace, monospace;
  --font-tech: 'Tomorrow', system-ui, sans-serif;
}

body {
  font-family: var(--font-primary);
}

h1, h2, h3 {
  font-family: var(--font-tech);
  font-weight: 700;
}

code, pre, .code-block {
  font-family: var(--font-mono);
}
